@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root{
  --persian-blue: #3f37c9ff;
  --ultramarine-blue: #4361eeff;

  --accent-blue: var(--persian-blue);
  --primary-blue: var(--ultramarine-blue);
}

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
